/.venv
/.vscode
/msc.code-workspace
/nm_vs_loss_off1.svg
*.svg
# *.png
*.pdf
*.tex
# *.jpg
*.pt
__pycache__/
cifar-10-batches-py/
cifar-10-python.tar.gz
*.so
*.ncu-rep
*.lock
*.arrow
info.txt
tiny_imagenet